<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.quaigon.kamil.goban">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.quaigon.kamil.GobanApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GobanActivity"
            android:label="@string/app_name" />
        <activity android:name="com.quaigon.kamil.activities.LogActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name="com.quaigon.kamil.activities.MenuActivity" />
        <activity android:name="com.quaigon.kamil.activities.GamesListActivity"></activity>

        <meta-data android:name="roboguice.modules"
            android:value=" com.quaigon.kamil.configuration.MainModule"/>
        <meta-data android:name="roboguice.annotations.packages"
            android:value="com.quaigon.kamil.goban" />
    </application>

</manifest>
